spring:
  application:
    name: BookingService
  gateway:
    routes:
      - id: user-service
        uri: lb://USER-SERVICE
        predicates:
          - Path=/users/**
server:
  port: 9090


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/